USE [master]
GO
/****** Object:  Database [FU_DB]    Script Date: 12/15/2019 11:56:02 PM ******/
CREATE DATABASE [FU_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FU_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FU_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FU_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FU_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FU_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FU_DB]
GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 12/15/2019 11:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocks](
	[StockID] [int] NOT NULL,
	[StockName] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[DateAvailable] [date] NULL,
	[Note] [nvarchar](50) NULL,
 CONSTRAINT [PK_Stocks] PRIMARY KEY CLUSTERED 
(
	[StockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Stocks] ([StockID], [StockName], [Address], [DateAvailable], [Note]) VALUES (1, N'Stock one', N'No1-washington', CAST(N'2010-11-09' AS Date), N'')
INSERT [dbo].[Stocks] ([StockID], [StockName], [Address], [DateAvailable], [Note]) VALUES (2, N'Stock two', N'32-cave town', CAST(N'2011-07-09' AS Date), N'')
INSERT [dbo].[Stocks] ([StockID], [StockName], [Address], [DateAvailable], [Note]) VALUES (3, N'Stock there', N'Nary Angel', CAST(N'2010-12-05' AS Date), N'stote dangerous')
USE [master]
GO
