USE [master]
GO
/****** Object:  Database [DB_21]    Script Date: 12/7/2019 6:36:35 AM ******/
CREATE DATABASE [DB_21]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_21', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DB_21.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_21_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DB_21_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_21].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_21]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 12/7/2019 6:36:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[code] [nchar](10) NOT NULL,
	[name] [nvarchar](50) NULL,
	[credit] [int] NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Course] ([code], [name], [credit]) VALUES (N'LAB211    ', N'lab desktop', 22)
USE [master]
GO
